body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: rgba(110, 63, 191, 0.4);
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Roboto Condensed', sans-serif;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

.header {
    font-family: 'Roboto Condensed', sans-serif;
    position: fixed;
    width: 100%;
    background-color: rgba(110, 63, 191, 1);
    top: 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    margin: 0;
}

.navigation a {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    margin: 1rem;
    color: #fff;
}

.navigation a:hover {
    text-decoration: underline;
}

.top {
    background-image: url(../images/top-image.JPG);
    background-size: cover;
    width: 100%;
    height: 50vh;
}

.title {
    margin: 0;
    padding: 12.5rem 10rem 0;
    font-size: 3rem;
    color: #fff;
    text-align: end;
}

.profile {
    background-color: #fff;
    padding: 1rem 10rem;
    margin-top: 5rem;
}

.profile-image {
    width: 30%;
}

.hobby {
    background-color: #fff;
    padding: 1rem 10rem;
    margin: 5rem 0;
}

.hobby-image {
    width: 30%;
    max-height: 40vh;
    object-fit: cover;
    margin-right: 1rem;
}

.hobby-card {
    display: flex;
}

.contact {
    background-color: #fff;
    padding: 1rem 10rem;
    margin-top: 5rem;
}

.photography {
    background-color: #fff;
    padding: 1rem 10rem;
    margin-top: 5rem;   
}

.photography-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.photography-item {
    width: 30%;
    margin-bottom: 5%;
    object-fit: cover;
}

.footer {
    background-color: #fff;
    text-align: center;
    margin-top: 5rem;
    padding: 0.5rem 0;
}

.copyright {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}